/**
  * Most of this code was taken from Pure.CSS grid system 
  * http://purecss.io/grid
  */

/* Box model */

* { box-sizing: border-box;}

[class*="g-"] /* or [class^="g-"]*/ {
    float: left;
    width: 100%; //mobile first
}
/*****************************************
  * All sizes.
  ****************************************/

/* Grid */
.g-1,
.g-1-1 { width: 100%;}
.g-1-2,
.g-2-4 { width: 50%;}
.g-1-3 { width: 33.33%;}
.g-1-4 { width: 25%;}
.g-1-5 { width: 20%;}
.g-2-3 { width: 66.66%;}
.g-2-5 { width: 40%;}
.g-3-4 { width: 75%;}
.g-3-5 { width: 60%;}
.g-4-5 { width: 80%;}

/* Pull */
.pull-1-2,
.pull-2-4 { margin-left: 50%;}
.pull-1-3 { margin-left: 33.33%;}
.pull-1-4 { margin-left: 25%;}
.pull-1-5 { margin-left: 20%;}
.pull-2-3 { margin-left: 66.66%;}
.pull-2-5 { margin-left: 40%;}
.pull-3-4 { margin-left: 75%;}
.pull-3-5 { margin-left: 60%;}
.pull-4-5 { margin-left: 80%;}

/*****************************************
  * Small size. // Is > or = 568px.
  ****************************************/

@media screen and (min-width: 35.5em) {

/* Grid */
.g-sm-1,
.g-sm-1-1 { width: 100%;}
.g-sm-1-2,
.g-sm-2-4 { width: 50%;}
.g-sm-1-3 { width: 33.33%;}
.g-sm-1-4 { width: 25%;}
.g-sm-1-5 { width: 20%;}
.g-sm-2-3 { width: 66.66%;}
.g-sm-2-5 { width: 40%;}
.g-sm-3-4 { width: 75%;}
.g-sm-3-5 { width: 60%;}
.g-sm-4-5 { width: 80%;}

/* Pull */
.pull-sm-1-2,
.pull-sm-2-4 { margin-left: 50%;}
.pull-sm-1-3 { margin-left: 33.33%;}
.pull-sm-1-4 { margin-left: 25%;}
.pull-sm-1-5 { margin-left: 20%;}
.pull-sm-2-3 { margin-left: 66.66%;}
.pull-sm-2-5 { margin-left: 40%;}
.pull-sm-3-4 { margin-left: 75%;}
.pull-sm-3-5 { margin-left: 60%;}
.pull-sm-4-5 { margin-left: 80%;}

}

/*****************************************
  * Medium size. // Is > or = 768px.
  ****************************************/

 @media screen and (min-width: 48em) {

/* Grid */
.g-md-1,
.g-md-1-1 { width: 100%;}
.g-md-1-2,
.g-md-2-4 { width: 50%;}
.g-md-1-3 { width: 33.33%;}
.g-md-1-4 { width: 25%;}
.g-md-1-5 { width: 20%;}
.g-md-2-3 { width: 66.66%;}
.g-md-2-5 { width: 40%;}
.g-md-3-4 { width: 75%;}
.g-md-3-5 { width: 60%;}
.g-md-4-5 { width: 80%;}

/* Pull */
.pull-md-1-2,
.pull-md-2-4 { margin-left: 50%;}
.pull-md-1-3 { margin-left: 33.33%;}
.pull-md-1-4 { margin-left: 25%;}
.pull-md-1-5 { margin-left: 20%;}
.pull-md-2-3 { margin-left: 66.66%;}
.pull-md-2-5 { margin-left: 40%;}
.pull-md-3-4 { margin-left: 75%;}
.pull-md-3-5 { margin-left: 60%;}
.pull-md-4-5 { margin-left: 80%;}
}

/*****************************************
  * Large size. // Is > or = 1024px.
  ****************************************/

@media screen and (min-width: 64em) {

/* Grid */
.g-lg-1,
.g-lg-1-1 { width: 100%;}
.g-lg-1-2,
.g-lg-2-4 { width: 50%;}
.g-lg-1-3 { width: 33.33%;}
.g-lg-1-4 { width: 25%;}
.g-lg-1-5 { width: 20%;}
.g-lg-2-3 { width: 66.66%;}
.g-lg-2-5 { width: 40%;}
.g-lg-3-4 { width: 75%;}
.g-lg-3-5 { width: 60%;}
.g-lg-4-5 { width: 80%;}
}

/* Pull */
.pull-lg-1-2,
.pull-lg-2-4 { margin-left: 50%;}
.pull-lg-1-3 { margin-left: 33.33%;}
.pull-lg-1-4 { margin-left: 25%;}
.pull-lg-1-5 { margin-left: 20%;}
.pull-lg-2-3 { margin-left: 66.66%;}
.pull-lg-2-5 { margin-left: 40%;}
.pull-lg-3-4 { margin-left: 75%;}
.pull-lg-3-5 { margin-left: 60%;}
.pull-lg-4-5 { margin-left: 80%;}
}

/*****************************************
  * Extra large size. // Is > or = 1280px.
  ****************************************/

@media screen and (min-width: 80em) {

/* Grid */
.g-xl-1,
.g-xl-1-1 { width: 100%;}
.g-xl-1-2,
.g-xl-2-4 { width: 50%;}
.g-xl-1-3 { width: 33.33%;}
.g-xl-1-4 { width: 25%;}
.g-xl-1-5 { width: 20%;}
.g-xl-2-3 { width: 66.66%;}
.g-xl-2-5 { width: 40%;}
.g-xl-3-4 { width: 75%;}
.g-xl-3-5 { width: 60%;}
.g-xl-4-5 { width: 80%;}
}

/* Pull */
.pull-xl-1-2,
.pull-xl-2-4 { margin-left: 50%;}
.pull-xl-1-3 { margin-left: 33.3333%;}
.pull-xl-1-4 { margin-left: 25%;}
.pull-xl-1-5 { margin-left: 20%;}
.pull-xl-2-3 { margin-left: 66.6666%;}
.pull-xl-2-5 { margin-left: 40%;}
.pull-xl-3-4 { margin-left: 75%;}
.pull-xl-3-5 { margin-left: 60%;}
.pull-xl-4-5 { margin-left: 80%;}

/*****************************************
  * Tools: paddings, floats, etc...
  ****************************************/

/* Layout */
.box {
  padding: 1rem;
  margin: 0; /* To delete any margin adhered; */
  }

.l-left { float: left;}
.l-right { float: right;}
