body {
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

<<<<<<< HEAD
a { 
	text-decoration: none;
=======
a {
  text-decoration: none;
>>>>>>> 104d0dc768fc2b3acff06ec4cfd75c35b669a788
  color: cadetblue;
  }

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
